p {
  margin: 0 0 20px; }

ul, ol {
  padding-left: 10px; }

html {
  color: white;
  position: relative;
  background: url('../img/slide-6.jpg') center center fixed no-repeat;
  background-size: cover; }
  @media (max-width: 750px) {
    html {
      background: white; } }

.page-title {
  width: 80%;
  margin-left: 22%;
  z-index: 2;
  position: relative;
  line-height: 1.6em;
  padding: 15px 0 0 50px;
  display: block;
  font-family: 'Poiret One', sans-serif;
  font-weight: 400;
  font-size: 48px; }

.content-bkg {
  z-index: 2;
  position: fixed;
  top: 0;
  bottom: 0;
  margin-left: 22%;
  float: left;
  width: 76%;
  max-width: 1100px;
  padding: 100px 50px;
  background: white; }
  @media (max-width: 850px) {
    .content-bkg {
      margin-left: 150px;
      width: 83%; } }
  @media (max-width: 750px) {
    .content-bkg {
      display: none; } }

.content {
  position: relative;
  z-index: 200;
  margin-left: 22%;
  width: 76%;
  max-width: 1100px;
  color: #828282;
  font-family: 'Lato', sans-serif;
  line-height: 1.4em;
  font-size: 14px;
  letter-spacing: 0.1em; }
  @media (max-width: 850px) {
    .content {
      margin-left: 150px;
      width: 650px; } }
  @media (max-width: 750px) {
    .content {
      float: none;
      width: 100%;
      margin-left: 0; } }

.content-int {
  width: 100%;
  position: absolute;
  padding: 50px 50px; }

.home .content-bkg {
  display: none; }

.home .content {
  max-width: 1300px; }

.post-type-archive-product .page-title {
  display: none; }

/*======================================================== 
header 
==========================================================*/
.header-bkg {
  width: 22%;
  left: 0;
  position: fixed;
  top: 0;
  bottom: 0; }

.header {
  min-height: 500px;
  margin-left: 2%;
  z-index: 10;
  width: 20%;
  min-width: 150px;
  background: rgba(255, 255, 255, 0.83);
  position: fixed;
  top: 0;
  bottom: 0; }
  @media (max-width: 850px) {
    .header {
      margin-left: 0;
      width: 150px; } }
  @media (max-width: 600px) {
    .header {
      display: none; } }

/* ==============================================================
logo
================================================================= */
.logo {
  width: 100%;
  display: block;
  position: relative;
  padding: 10px 20px; }
  .logo a:hover {
    color: black !important; }

.logo-img {
  margin: 0; }

/* ============================================================
nav 
================================================================*/
.nav {
  padding: 10px 0;
  display: block;
  z-index: 10; }
  .nav ul {
    margin: 0;
    padding: 0;
    width: 100%; }
    .nav ul li {
      position: relative;
      display: block; }
      .nav ul li a {
        letter-spacing: 3px;
        font-family: 'Poiret One', sans-serif;
        font-weight: 800;
        font-size: 24px;
        display: block;
        color: #424242;
        padding: 5px 20%;
        margin-bottom: 10px;
        position: relative; }
      .nav ul li a:hover {
        background: #4A8294;
        color: white; }
      .nav ul li ul.sub-menu {
        display: none; }
        .nav ul li ul.sub-menu a {
          padding: 10px;
          width: 300px; }

.nav ul li:hover > ul.sub-menu {
  display: block;
  z-index: 99;
  position: absolute;
  top: 30px;
  margin: 0px 0px 0px -16px;
  padding: 0px;
  border: 1px #808080 solid;
  background-color: #fff;
  width: 300px; }

.current_page_item a {
  background: #4A8294;
  color: white !important; }

/*=============================================================
banner
===============================================================*/
.banner-home {
  /* height: 420px; */
  background: url('./img/bkg-1.jpg');
  background-size: cover; }

/*=============================================================== 
footer 
================================================================*/
footer {
  font-family: 'Lato', sans-serif;
  font-size: 10px;
  font-weight: 800;
  color: #424242;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 0; }
  footer a {
    color: #424242; }
  @media (max-width: 45em) {
    footer {
      position: relative;
      width: 100%;
      padding: 0;
      margin-left: 0; } }

/* ==========================================================================
   Widgets
   ========================================================================== */
.nav-wdgt {
  font-size: 18px;
  color: #424242;
  text-align: center;
  margin: 60px auto; }

.footer-wdgt {
  margin: auto; }

/* social */
.social {
  line-height: 30px;
  font-size: 18px;
  margin: 0 5px;
  padding-left: 4px;
  color: white;
  border: solid white 3px;
  border-radius: 300px;
  width: 35px;
  height: 35px;
  -webkit-box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.41);
          box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.41);
  -webkit-box-shadow: inset 1px 1px 7px rgba(0, 0, 0, 0.41), 1px 1px 7px rgba(0, 0, 0, 0.41);
          box-shadow: inset 1px 1px 7px rgba(0, 0, 0, 0.41), 1px 1px 7px rgba(0, 0, 0, 0.41);
  text-shadow: 1px 1px 1px black; }
  @media (max-width: 850px) {
    .social {
      width: inherit;
      margin: 0 5px;
      color: #424242;
      -webkit-box-shadow: none;
              box-shadow: none;
      -webkit-box-shadow: none;
              box-shadow: none;
      text-shadow: none;
      line-height: 15px;
      font-size: 18px;
      height: 20px;
      border: none;
      border-radius: none; } }

.facebook {
  background: #3B5998; }

.pinterest {
  background: #CA1F26; }

.linkedin {
  background: #3399CC; }

@media (max-width: 850px) {
  .facebook, .pinterest, .linkedin {
    background: none; } }

/* ==========================================================================
   COLOR
   ========================================================================== */
.swatch {
  height: 5em; }

.color-1 {
  background: #4A8294; }

.color-2 {
  background: #0872BA; }

.color-3 {
  background: #C2178D; }

.color-4 {
  background: #F79421; }

.color-5 {
  background: #EC1F27; }

.color-6 {
  background: #2DAB36; }

.txt-color-1 {
  color: #4A8294; }

.txt-color-2 {
  color: #0872BA; }

.txt-color-3 {
  color: #C2178D; }

.txt-color-4 {
  color: #F79421; }

.txt-color-5 {
  color: #EC1F27; }

.txt-color-6 {
  color: #2DAB36; }

.txt-wht {
  color: white; }

/* ==========================================================================
   =format
   ========================================================================== */
.border-t-1 {
  border-top: solid 1px #424242; }

/* ===========================================================================
  typography
  =========================================================================== */
.headline-1 {
  letter-spacing: 0.05em;
  line-height: 1em;
  display: block;
  font-family: 'Poiret One', sans-serif;
  font-weight: 700;
  font-size: 53px; }

.sub-headline-1 {
  letter-spacing: 0.3em;
  line-height: 1.2em;
  display: block;
  font-family: 'Poiret One', sans-serif;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 10px; }

.title-1 {
  line-height: 1.6em;
  display: block;
  font-family: 'Poiret One', sans-serif;
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 10px; }

.title-2 {
  line-height: 1.6em;
  letter-spacing: 0.1em;
  display: block;
  font-family: 'Poiret One', sans-serif;
  font-weight: 800;
  font-size: 22px;
  margin-bottom: 10px; }

.title-3 {
  line-height: 1.6em;
  letter-spacing: 0.1em;
  display: block;
  font-family: 'Poiret One', sans-serif;
  font-weight: 800;
  font-size: 16px;
  margin-bottom: 10px; }

/* ==========================================================================
   = User input
   ========================================================================== */
.ws-form {
  margin-top: -1.5em; }

input, textarea {
  /* Use for styling text based form elements, like name, email, password. 
  Button/submit specific styles below, those will override */
  display: block;
  padding: 0.5em;
  margin-bottom: 0.75em;
  border: 0.1em solid lightgrey;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  resize: none; }

input:focus, textarea:focus {
  outline: none;
  border-color: #4A8294; }

input[type='button'], input[type='submit'], button, .button {
  border: none;
  background: transparent;
  line-height: 1;
  cursor: pointer;
  padding: 1em 1.5em;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: block;
  margin-bottom: 0.75em;
  margin-bottom: 0.75rem; }

.form-btn-1 {
  color: white;
  background: #0872BA !important; }

.btn-1 {
  color: white;
  background-color: #0872BA; }
  .btn-1:hover {
    background-color: #065589; }
  .btn-1:active, .btn-1:focus {
    background-color: #0872BA; }

.btn-2 {
  color: white;
  background-color: #F79421; }
  .btn-2:hover {
    background-color: #dd7a08; }
  .btn-2:active, .btn-2:focus {
    background-color: #F79421; }

.btn-3 {
  font-size: 0.875em;
  background-color: lightgrey; }
  .btn-3:hover {
    background-color: #b9b9b9; }
  .btn-3:active, .btn-3:focus {
    background-color: lightgrey; }

/* ==========================================================================
   =ADJECTIVES
   ========================================================================== */
.ws-adjectives div {
  font-size: 1.5em;
  padding-bottom: 0.25em; }

/* ==========================================================================
   =COLOPHON
   ========================================================================== */
.colophon {
  clear: both;
  text-align: center;
  font-size: 0.875em;
  padding: 1.714em 0;
  border-top: thin solid #eee;
  margin-top: 1.714em; }

/* =========================================================================
   =objects
   ========================================================================= */
.img-1 {
  padding: 10px;
  background: #e5e5e5;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.21);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.21); }

.img-rnd-1 {
  -webkit-box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.41);
          box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.41);
  border: solid 10px #e5e5e5;
  border-radius: 1000px;
  background: lightgrey; }

/* =========================================================================
   Plugin Hacks
   ========================================================================= */
.fwb_fromthis {
  display: none; }
