@mixin btnHover($baseColor) {
    background-color: $baseColor;
    &:hover {
          background-color: darken($baseColor, 10);
            }
    &:active, &:focus {
      background-color:$baseColor;
    }
          }

$font-1:'Open Sans', sans-serif;
$font-2:'Poiret One', sans-serif;
$font-3:'Lato', sans-serif;
$grey-1: white;
$grey-2: #F2F2F2;
$grey-3: rgb(229, 229, 229);
$grey-4:lightgrey;
$grey-5:#828282;
$grey-6:#424242;
$color-1:#4A8294;
$color-2:#0872BA;
$color-3:#875E7D;
$color-4:#F79421;
$color-5:#EC1F27;
$color-6:#2DAB36;
$shadow-1:0 1px 2px rgba(0, 0, 0, 0.21);
$shadow-2:1px 1px 7px rgba(0, 0, 0, 0.41);

p {margin:0 0 20px;}

ul, ol { padding-left:10px;}

html {
  color:white;
  position:relative;
  //background:url('../img/slide-6.jpg') center center fixed no-repeat;
  background-size:cover;
  @media (max-width: 750px) {
    background :white;
  }
}

.page-title-bkg {
  background:$color-1; 
  width:100%;
  height:90px;
  position:absolute;
  top:0;
}

.page-title {
  width:78%;
  height:90px;
  margin-left:270px;
  z-index: 2;
  position:relative;
  line-height: 1.6em;
  padding:15px 0 0 50px;
  display:block;
  font-family:$font-2;
  font-weight: 400;
  font-size:48px;
   @media (max-width: 1270px) {
    margin-left:22%;
  }
  @media (max-width: 850px) {
    margin-left:150px;
  }
   @media (max-width: 750px) {
width:100%;
margin:0;
  }
}

.content-bkg {
  z-index:2;
  position:fixed;
  top:0;
  bottom:0;
  margin-left:270px;
  float:left;
  width: 78%;
  padding:100px 50px ;
  background:white;
   @media (max-width: 1270px) {
    margin-left:22%;
    width: 78%;
  }
   @media (max-width: 850px) {
    margin-left:150px;
    width:83%;
  }
  @media (max-width: 750px) {
    display:  none;
  }
}

.content {
  position:relative;
  z-index: 200;
  margin-left:270px;
  width: 78%;
  max-width:1100px;
  color:$grey-5;
  font-family:$font-3;
  line-height: 1.4em;
  font-size:14px;
  letter-spacing: .1em;
  @media (max-width: 1270px) {
    margin-left:22%;
    width: 78%;
  }
  @media (max-width: 850px) {
    margin-left:150px;
    width:650px;
  }
  @media (max-width: 750px) {
    float:none;
    width:100%;
    margin-left:0;
  }
}

.content-int {
  width:100%;
  position:absolute;
   padding:50px 50px ;
}

.home .content-bkg {
display:none;
}

.home .content {
 max-width:1300px;
}

.test .content, .gallery .content, .gallery .content-bkg {
max-width:100%;
} 


.post-type-archive-product .page-title {
  display: none;
}




/*======================================================== 
header 
==========================================================*/

.header-bkg {
  width:22%;
  left:0;
  position:fixed;
  top:0;
  bottom:0;
   @media (max-width: 750px) {
display:none;
  }
}

.header {
  min-height:   500px;
  margin-left:20px;
  z-index:10;
  width:20%;
  min-width:150px;
  max-width: 250px;
  background:rgba(255, 255, 255, 0.83);
  position:fixed;
  top:0;
  bottom:0;
   @media (max-width: 1270px) {
    margin-left:2%;
  }
  @media (max-width: 850px) {
    margin-left:0;
    width:150px;
  }
  @media (max-width: 750px) {
display:none;
  }
}


/* ==============================================================
logo
================================================================= */

.logo {
  width:100%;
  display: block;
  position: relative;
  padding:10px 20px;
  a:hover {
    color: black !important;
  }
}

.logo-img {
  margin: 0;
}

/* ============================================================
nav 
================================================================*/


.nav {
  padding:10px 0;
  display: block;
  z-index: 10;
  ul {
      margin: 0;
      padding: 0;
      width:100%;
       li {
        position:relative;
        display:block;
        a {
          letter-spacing: 3px;
          font-family: $font-2;
          font-weight: 800;
          font-size: 24px;
          display:block;
          color: $grey-6;
          padding: 5px 20%;
          margin-bottom:10px; 
          position: relative;
          }
        a:hover {
         background: $color-1;
         color:white;
          }
        ul.sub-menu {
          display:none;
          a {
            padding:10px;
            width:300px;
          }
        }
      }
    }
}

.nav ul li:hover > ul.sub-menu {
display:block;
z-index:99;
position:absolute;
top:30px;
margin:0px 0px 0px -16px;
padding:0px;
border:1px #808080 solid;
background-color:#fff;
width:300px;
}

.current_page_item a {
 background: $color-1;
       color:white !important;
}

/*=============================================================
banner
===============================================================*/

.banner-home {
    /* height: 420px; */
    background: url('./img/bkg-1.jpg');
    background-size: cover;
}


/*=============================================================== 
footer 
================================================================*/

footer {
  font-family: $font-3;
  font-size: 10px;
  font-weight: 800;
   color: $grey-5;
  text-align:center;
  width:100%;
  position:absolute;
  bottom:10px;
    
  a {
    color: $grey-5;
  }
  @media (max-width: 45em) {
    position:relative;
    width:100%;
    padding:0;
    margin-left:0;
  }
}

/* ==========================================================================
   Widgets
   ========================================================================== */
.nav-wdgt {
  font-size: 18px;
  color:$grey-6;
  text-align: center;
  margin:60px auto;
}

.footer-wdgt {
  margin: auto;
}

/* social */
.social {
  position:relative;
  line-height: 30px;
  font-size:18px;
  margin:0 5px 20px;
  padding-left:4px;
  color:white;
  border:solid white 3px;
  border-radius:300px;
  width:35px;
  height: 35px;
  box-shadow:$shadow-2;
  box-shadow:inset $shadow-2, $shadow-2;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
  @media (max-width: 850px) {
  width:inherit;
  margin:0 5px;
  color:$grey-6;
  box-shadow:none;
  box-shadow:none;
  text-shadow:none;
  line-height: 15px;
  font-size:18px;
  height: 20px;
  border:none;
  border-radius:none;
  }
    &:before {
      top:14px;
      left:14px;
      z-index: -1;
      transition: all .3s ease;
      border-radius:900px;
      height:0;
      width:0;
      content:"";
      position:absolute;
    }
    &:after {
      top:11px;
      left:11px;
      z-index: -1;
      transition: all .6s ease;
      border-radius:900px;
      height:0;
      width:0;
      content:"";
      position:absolute;
    }
    &:hover:before {
       top:-14px;
      left:-14px;
      border:solid 8px $grey-4;
      height:57px;
      width:57px;
    }
    &:hover:after {
       top:-11px;
      left:-11px;
      border:solid 2px $grey-2;
      height:51px;
      width:51px;
    }
}

.facebook {
  background:#3B5998;
}

.pinterest {
   background:#CA1F26;
}

.linkedin {
   background:#3399CC;
}

@media (max-width: 850px) {
.facebook, .pinterest, .linkedin {
  background: none;
}
}


/* ==========================================================================
   COLOR
   ========================================================================== */
.swatch {
  height: 5em;
}

.color-1 {
  background: $color-1;
}

.color-2 {
  background: $color-2;
}

.color-3 {
  background: $color-3;
}

.color-4 {
  background: $color-4;
}

.color-5 {
  background: $color-5;
}

.color-6 {
  background: $color-6;
}

.txt-color-1 {
  color: $color-1;
}

.txt-color-2 {
  color: $color-2;
}

.txt-color-3 {
  color: $color-3;
}

.txt-color-4 {
  color: $color-4;
}

.txt-color-5 {
  color: $color-5;
}

.txt-color-6 {
  color: $color-6;
}

.txt-wht {
  color:$grey-1;
}


/* ==========================================================================
   =format
   ========================================================================== */
.border-t-1 {
  border-top:solid 1px $grey-5;
  padding-top:10px;
}
/* ===========================================================================
  typography
  =========================================================================== */
.headline-1 {
  letter-spacing: .05em;
  line-height: 1em;
  display:block;
  font-family:$font-2;
  font-weight: 700;
  font-size:53px;
}
.sub-headline-1 {
  letter-spacing: .3em;
  line-height: 1.2em;
  display:block;
  font-family:$font-2;
  font-weight: 600;
  font-size:24px;
  margin-bottom:10px;
}

.title-1 {
  line-height: 1.6em;
  display:block;
  font-family:$font-2;
  font-weight: 600;
  font-size:30px;
   margin-bottom:10px;
}


.title-2 {
  line-height: 1.6em;
  letter-spacing: .1em;
  display:block;
  font-family:$font-2;
  font-weight:800;
  font-size:22px;
   margin-bottom:10px;
}

.title-3 {
  line-height: 1.6em;
  letter-spacing: .1em;
  display:block;
  font-family:$font-2;
  font-weight:800;
  font-size:16px;
  margin-bottom:10px;
}

/* ==========================================================================
   = User input
   ========================================================================== */
.ws-form {
  margin-top: -1.5em;
}

select, input, textarea {
  /* Use for styling text based form elements, like name, email, password. 
  Button/submit specific styles below, those will override */
  display: block;
  padding: .5em;
  margin-bottom: .75em;
  border: .1em solid $grey-4;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  resize: none;
}

input:focus, textarea:focus {
  outline: none;
  border-color: $color-1;
}

input[type='button'], input[type='submit'], button, .button {
  border: none;
  background: transparent;
  line-height: 1;
  cursor: pointer;
  padding: 1em 1.5em;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  display: block;
  margin-bottom: .75em;
  margin-bottom: .75rem;
}

.form-btn-1 {
   color: $grey-1;
  background: $color-2 !important;
}

.btn-1 {
  color: $grey-1;
  @include btnHover($color-2);
}



.btn-2 {
   color: $grey-1;
  @include btnHover($color-4);
}

.btn-3 {
  font-size: .875em;
 @include btnHover($grey-4);
}


/* ==========================================================================
   =ADJECTIVES
   ========================================================================== */
.ws-adjectives div {
  font-size: 1.5em;
  padding-bottom: .25em;
}

/* ==========================================================================
   =COLOPHON
   ========================================================================== */
.colophon {
  clear: both;
  text-align: center;
  font-size: .875em;
  padding: 1.714em 0;
  border-top: thin solid #eee;
  margin-top: 1.714em;
}

/* =========================================================================
   =objects
   ========================================================================= */
.img-1 {
  padding:10px;
  background:$grey-3;
  box-shadow:$shadow-1;
}

.img-rnd-1 {
  box-shadow:$shadow-2;
  border:solid 10px $grey-3;
  border-radius:1000px;
  background:$grey-4;
}

/* =========================================================================
  Gallery
   ========================================================================= */
.item {
  padding:10px;
 
  .title-3 {
    background:$grey-5;
    font-family: $font-3;
    color:white;
    text-align: center;
    font-weight: 400;
  }
  &:hover .gallery-hover{
  opacity:1;
  transition: opacity .5s ease;
  
}
  .link-group {
    width:250px;
    margin:auto;
  }
  a {
    text-align: center;
    color:white;
    width:50%;
    float:left;
  }
  .icon {
    width:70px;
    margin:auto;
  }
  .gallery-hover {
    padding-top:50px;
    position:absolute;
    top:10px;
    bottom:45px;
    left:10px;
    right:10px;
    background:rgba(116, 62, 98, 0.84);
    font-size:16px;
    color:white;
    opacity:0;
  }
}

/* =========================================================================
   Plugin Hacks
   ========================================================================= */
.fwb_fromthis  {
display:none;
}

.wmle_post_meta {
display:none;
}

.wmle_post_excerpt {
  position:absolute;
  top:0;
  width:100%;
  z-index: 500;
  top:0;
  bottom:0;
  background:black;
  display:none;
}

.wpme_image:hover .wmle_post_excerpt {
  display:block;
}

.nivo-lightbox-image img {
  margin:auto;
}

//woocommerce
.entry-summary div:nth-of-type(1) {
  background:$color-3;
 line-height:3em;
 padding-left:20px;
 color:white;
}
.single_variation, .single_variation_wrap {
  background:white !important;
  padding-left:0 !important;
}

.entry-summary form {
  border:solid 1px $grey-5;
  border-radius:20px;
  padding:20px;
  padding-bottom:50px;
  background: url(../img/payment-meth.png) no-repeat bottom right;
  select {
    line-height:1em;
    padding-left:20px;
    color:white;
    -webkit-appearance: none;
    background: url(../img/new_arrow.png) no-repeat right $color-3 ;
  }
  .amount {
    font-size: 40px;
  }
}

.woocommerce #content .quantity input.qty, .woocommerce .quantity input.qty, .woocommerce-page #content .quantity input.qty, .woocommerce-page .quantity input.qty {
width: 40px;
border: 1px solid #c8bfc6;
border-right: 1px solid #c8bfc6;
}

.woocommerce #content .quantity .plus, .woocommerce .quantity .plus, .woocommerce-page #content .quantity .plus, .woocommerce-page .quantity .plus {
display: none;
}

.woocommerce #content .quantity .minus, .woocommerce .quantity .minus, .woocommerce-page #content .quantity .minus, .woocommerce-page .quantity .minus {
display: none;
}

.entry-content h2 {
font-size: 20px;
margin-bottom: 10px;
}

.woocommerce .cart .button, .woocommerce .cart input.button, .woocommerce-page .cart .button, .woocommerce-page .cart input.button {
float: none;
margin-bottom: 10px;
}

 .woocommerce-message:before {
  height:2.5em !important;
 }